body {
    background: url(../res/background/two_planets_large_background.jpg);
    background-size: 100%;
}


#bigLogo {
    position: relative;
    width: 100%;
    height: 9em;
}

#fullMainBody {
    margin-top: 2em;
}

#topImg img{
    display: none;
}

#topContainer {
    width: 100%;
    float: left;
}

nav {
    width: 39%;
    float: left;
}

#quoteBox {
    width: 61%;
    float: right;
    height: 360px;
    font-family: Origin;
    color: honeydew;
}

#quote {
    margin-top: 101px;
}

#quoteBox p {
    font-size: 1.4em;
}

.textBackground {
    width: 85%;
    float: left;
    background: rgba(0,0,0,.5);
    margin-left: 7.5%;
    text-align: left;
}

.textBackground .text {
    width: 70%;
    margin-left: 15%;
}

.textBackground .text h2 {
    text-align: center;
}

#textandimg {
    height: 14em;
}

#textandimg p {
    width: 75%;
    float: left;
    margin-top: 5%;
}

#textandimg img {
    width: 25%;
    float: right;
}

h2 {
    font-size: 2em;
}

.flipBox {
    display: inline-block;
    float: left;
    background-color: blue;
    border: 2px solid black;
    border-radius: 60%;
    width: 4em;
    height: 4em;
    -webkit-transition: width 1.3s, height 1.3s, background-color 1.3s, -webkit-transform 1.3s;
    transition: width 1.3s, height 1.3s, background-color 1.3s, transform 1.3s, border-radius 1.3s;
}

.flipBox:hover {
    border: 5px dotted silver;
    border-radius: 0%;
    background: rgba(0, 0, 0, .7);
    width: 800px;
    height: 400px;
}

.letteri {
    color: white;
    font-weight: bold;
    font-size: 3.75em;
    font-family: serif;
/*     height: 100%; */
}

.listingInfo {
    display: none;
    font-size: 1.55em;
    font-weight: bold;
    color: white;
    float: right;
}

.listingInfo img {
    width = 100%;
    float: left;
}

#listings li p {
    display: inline-block;
    float: center;
    font-size: 1.30em;
}

#listings li {
    width: 95%;
    float: left;
    border-bottom: 2px dashed grey;
    background: rgba(0,0,0,.5);
}

.inputBackground {
    width: 85%;
    float: left;
    background: rgba(0,0,0,.5);
    margin-left: 7.5%;
    text-align: center;
}

.inputContainNonMobile {
    width: 70%;
    margin-left: 15%;
}

.inputContainMobile {
    display: none;
}

.input {
    background: transparent;
    color: white;
    font-family: Origin;
    font-size: 1.2em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid silver;
    width: 70%;
}

#username {
    margin-top: 2em;
}

.comment {
    width: 100%;
    background: rgba(255,255,255,.8);
    font-family: Origin;
    font-size: 1.1em;
}

.button {
    font-size: 1.13em;
    font-family: Origin;
    padding: 10px;
    border-radius: 13%;
    cursor: pointer;
}